<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>JSPProject</display-name>
	
	<servlet>
		<servlet-name>studentServlet</servlet-name>
		<servlet-class>co.edu.StudentServlet</servlet-class> <!--  밑에서 *을 사용하게 되면, 어떠한 주소를 쳐도 .do로 끝나면 이 클래스를 호출. -->
		<init-param>
		<param-name>charset</param-name>
		<param-value>UTF-8</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
	<servlet-name>studentServlet</servlet-name>
	<url-pattern>/student.do</url-pattern> <!--  위의 서블릿 클래스를 실행하려면 적어야 하는 주소, *은 all이라는 뜻이다, *로 지정하면 .do로 끝나기만 하면 어떤 주소든 상관없이 위의 서블릿클래스인 student.do를 호출한다. -->
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>

	</welcome-file-list>
</web-app>