/ConsumerExample.class
/ConsumerExample$1.class
/SupplierExample.class
/SupplierExample$1.class
/PredicateExample.class
/Student.class
/PredicateExample$1.class
/FunctionExample.class
/OperatorExample.class
